
  <div class="row mt-4">
     <div class="col-md-5">
         <ul>
           
             {{#each burgers}}
             {{#unless devoured}}
             <li class="text-right burger-li">
                 {{burger_name}}
                 <button class="btn btn-primary bugerBtn" burger-id="{{id}}" type="button">Devour it!</button>
             </li>
             {{/unless}}
             {{/each}}
         </ul>
      </div>

    <div class="col-md-6">
        <ul class="burger-li">
        
            {{#each burgers}}
            {{#if devoured }}
            <li class="text-left burger-li2">
                {{burger_name}}
            </li>
            {{/if}}
            {{/each}}
         </ul>
     </div>
  </div>
 </div>

<div class="row">
   <div class="col text-left ml-4 mt-4">
      <form id="addBurgerForm" >
        <textarea type="text" id="addBurger"></textarea>
        <button class="btn btn-primary" id="addBurgerBtn" type="button">Add Burger</button>
     </form>
     </div>
</div>


