
h1 {
    font-family: Verdana;
    color: red;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}
h2 {
  font-family: Verdana;
  color: red;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 5px;
  }

.burger-li {
  font-family: Verdana;
  color: palegoldenrod;
  font-size: 20px;
  text-align: center;
  margin: 10px;
 list-style-type:none;
}


.burger-li2 {
  font-family: Verdana;
  color: palevioletred;
  font-size: 20px;
  text-align: center;
  margin: 20px;
 list-style-type:none;
}

body {    
  background-color: darkblue;    
  font-family: Verdana;
}

.normal {
  font-family: Verdana;
  color:black;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}

#addBurgerBtn{
  display: block;
  align: center; 
}